<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ meta.description|default(siteTitle) }}">
<meta name="robots" content="{{ meta.robots|default('index,follow') }}">

<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ siteTitle }}</title>

{#<link rel="shortcut icon" href="{{ baseUrl }}/images/favicon.ico">#}
<link rel="stylesheet" href="{{ baseUrl }}/css/style.css" media="screen">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic&amp;subset=latin-ext,latin" rel="stylesheet" type="text/css">
<!--[if lte IE 8]>
	<script src="{{ baseUrl }}/js/selectivizr-min.js"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lte IE 7]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->

{% include 'js-load.html' %}

<meta property="og:type" content="website">
<meta property="og:title" content="{{ siteTitle }}">
<meta property="og:site_name" content="{{ siteTitle }}">
<meta property="og:url" content="{{ baseUrl }}">
{#
<meta property="og:description" content="">
<meta property="og:image" content="{{ baseUrl }}/images/ogImg.jpg">
#}

<link rel="stylesheet" href="{{ baseUrl }}/css/print.css" media="print">