<!DOCTYPE html>
<html lang="cs">

<head>
	{% include '_head.html' %}
</head>

<body{% if homepage %} class="homepage"{% endif %}>

	{% include '_header.html' %}

	<section role="main" class="page-content">
		{% include layoutFile %}
	</section>

	{% include '_footer.html' %}

	{% if 'ContactForm' in plugins %}
		<script src="{{ baseUrl }}/js/contactForm.js"></script>
	{% endif %}

	<noscript style="position: fixed; left: 20px; right: 20px; top: 20px; bottom: 20px; background-color: #fff; background-color: rgba(255,255,255,0.8); font-size: 20px; font-weight: bold; z-index: 100; padding: 10px 30px; text-align: center;">
		<p class="noscript">Váš prohlížeč bohužel nemá aktivní Javascript a bez něj jsou tyto stránky nefunkční. <i>:(</i></p>
	</noscript>

</body>

</html>