<!--[if lte IE 8]>
	<script>
		var isOldIE = true;
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ baseUrl }}/js/libs.js"></script>
	<script src="{{ baseUrl }}/js/main.js"></script>
<![endif]-->

<script>
	if (typeof isOldIE === 'undefined' || isOldIE === false) {
		/*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
		function loadJS( src, cb ){
			"use strict";
			var ref = window.document.getElementsByTagName( "script" )[ 0 ];
			var script = window.document.createElement( "script" );
			script.src = src;
			script.async = true;
			ref.parentNode.insertBefore( script, ref );
			if (cb && typeof(cb) === "function") {
				script.onload = cb;
			}
			return script;
		}

		// App
		function jQueryOnload() {
			loadJS('js/libs.js', function(){loadJS('js/main.js');});
		}

		// jQuery
		loadJS('https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', jQueryOnload);

		// FOIT
		loadJS('js/fontfaceobserver.js', function() {
			new FontFaceObserver('Source Sans Pro').check().then(function () {
				window.document.documentElement.className += " fonts-loaded";
			}, function () {
				window.document.documentElement.className += " fonts-not-loaded";
			});
		});

	}
</script>