/*
	Všeobecné proměnné pro styly.
*/

// Základní vlastnosti fontů
@baseFont:     ~'"Source Sans Pro", sans-serif';
@baseFontSize:  16px;

// Barvy
@colorFont:      #222222;
@colorPrimary:   #fff;
@colorSecondary: #000;
@colorLink:      #0000ff;
@colorHover:     #ff0000;

// Media queries
@mediaSm: ~'screen and (min-width: 35.5em)'; // >= 568px
@mediaMd: ~'screen and (min-width: 48em)';   // >= 768px
@mediaLg: ~'screen and (min-width: 64em)';   // >= 1024px
@mediaXl: ~'screen and (min-width: 80em)';   // >= 1280px
@mediaRetina: ~'(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 162dpi)';

// Náhledy obrázků pro .pThumb, není potřeba, pokud se nepoužívá blok .pThumb
@mixMaxWidth:    200px; // Maximální šířka náhledu v .pThumb
@mixMaxHeight:   150px; // Maximální výška náhledu v .pThumb
@normalMaxWidth: 200px; // Maximální šířka v .pThumbNormal (4:3)
@wideMaxWidth:   200px; // Maximální šířka v .pThumbWide (16:9)