// Klasický clear fix
.clear,
.clearfix,
.h-clear {
	.Clear();
}

/*
Třídy .h-display a .h-hide, slouží pro skrývání/zobrazování elementů na základě rozlišení stránky.
Velikosti breakpointů sm, md a lg viz soubor !vars.less.

.h-hide-{break}      - skryto od breakpointu, včetně
.h-display-{break}   - zobrazeno až od breakpointu, včetně, jinak skryto (display: inline-block)
.h-display-b-{break} - zobrazeno až od breakpointu, včetně, jinak skryto (display: block)
*/
.h-display-sm,
.h-display-md,
.h-display-lg,
.h-display-b-sm,
.h-display-b-md,
.h-display-b-lg {
	display: none;
}

@media @mediaSm {
	.h-display-sm {
		display: inline-block;
	}

	.h-display-b-sm {
		display: block;
	}

	.h-hide-sm {
		display: none;
	}
}

@media @mediaMd {
	.h-display-md {
		display: inline-block;
	}

	.h-display-b-md {
		display: block;
	}

	.h-hide-md {
		display: none;
	}
}

@media @mediaLg {
	.h-display-lg {
		display: inline-block;
	}

	.h-display-b-lg {
		display: block;
	}

	.h-hide-lg {
		display: none;
	}
}

// Úplné skrytí elementu
.h-hidden  {
	display: none !important;
}

// Float vlevo
.h-float-l {
	float: left;
}

// Float vpravo
.h-float-r {
	float: right;
}

// Skryje text v textnode
.h-text-hide {
	.HideText();
}

// Ořízne text při pevné šířce elementu
.h-text-truncate {
	.TruncateText();
}

// Text zarovnaný na střed
.h-text-center {
	text-align: center;
}

// Text zarovnaný do bloku
.h-text-justify {
	text-align: justify;
}

// Centrování blokového elementu
.h-center {
	margin: 0 auto;
}

// Text zarovnaný doprava
.h-text-right {
	text-align: right;
}

// Menší text
.h-text-smaller {
	font-size: 0.89em; // nesmí být 0.9em kvůli bugu v Pure gridu
}

// Malý text
.h-text-small {
	font-size: 0.8em;
}

// Nejmenší text
.h-text-tiny {
	font-size: 0.7em;
}

// Větší text
.h-text-bigger {
	font-size: 1.1em;
}

// Velký text
.h-text-big {
	font-size: 1.2em;
}

// Obrovský text
.h-text-huge {
	font-size: 1.4em;
}

// Podtržení až při hoveru
.h-reverse-hover {
	.ReverseHover();
}

// Spodní odsazení
.h-padding {
	padding-bottom: 1em;
}

// Malé spodní odsazení
.h-padding-tiny {
	padding-bottom: 0.5em;
}

// Barva běžného textu
.h-color-font {
	color: @colorFont;
}

// Primární barva
.h-color-primary {
	color: @colorPrimary;
}

// Sekundární barva
.h-color-secondary {
	color: @colorSecondary;
}

// Font ikonka v odkazu
.h-anchor-icon {
	display: inline-block;
	margin-right: 0.5em;
	text-decoration: none !important;
	vertical-align: top;
}

// Relativní pozice
.h-relative {
	position: relative;
}

// Vertikálně vycentrovaný grid
.h-g-middle {
	 -webkit-flex-align: center;
		 -ms-flex-align: center;
	-webkit-align-items: center;
			align-items: center;
		 vertical-align: middle;

	[class*="pure-u-"] {
		vertical-align: middle;
	}
}

// Padding sloupců u gridu, vč. možnosti, zobrazit padding až od breakpointu (běžně nemá grid žádný padding)
.h-g-padding {
	.QuirkSize();
	padding-left: 1.25em;
	padding-right: 1.25em;

	&--no-right {
		padding-right: 0;
	}

	&--no-left {
		padding-left: 0;
	}
}

@media @mediaSm {
	.h-g-padding-sm {
		.h-g-padding;
	}
}

@media @mediaMd {
	.h-g-padding-md {
		.h-g-padding;
	}
}

@media @mediaLg {
	.h-g-padding-lg {
		.h-g-padding;
	}
}

// Doplnění Pure gridu o trochu úchylnou šířku sloupce
@media @mediaMd {
	.h-pure-u-md-1-7 {
		width: 14.28%;
	}
}