.flag {
	.Clear();

	&__img {
		text-align: center;
	}

	@media @mediaMd {
		display: table;
		width: 100%;

		&__img,
		&__content {
			display: table-cell;
			vertical-align: middle;
		}

		&__img {
			padding-right: 2.5em;
			text-align: left;

			> img {
				display: block;
				max-width: none;
			}

			&--no-edge {
				padding-right: 0;
			}
		}

		&__content {
			width: 100%;
		}
	}

	@media @mediaLg {
		&__img {
			padding-right: 4em;

			&--no-edge {
				padding-right: 0;
			}
		}
	}
}