.media {
	.Clear();

	&__img {
		text-align: center;
	}

	@media @mediaMd {
		&__img {
			float: left;
			margin-top: 1em;
			margin-right: 2.5em;
			text-align: left;

			&--no-top {
				margin-top: 0;
			}
		}

		&__content {
			overflow: hidden;
		}

		&--right {

			.media__img {
				float: right;
				margin-right: 0;
				margin-left: 4em;
				text-align: right;
			}
		}
	}

	@media @mediaLg {
		&__img {
			margin-right: 4em;
		}
	}
}