/* Výpis položek */
.picon-listitems {

	.picon-listitems-item {
		.Clear();
		margin: 0.2em 0px 1em 0px;
		padding: 10px 10px 10px 220px;
		border-bottom: 1px solid @borderColor;

	}

	.picon-listitems-thumb {
		float: left;
		margin-left: -220px;

		img {
			.BorderRadius(@boxRadius);
			.BoxShadow(0px 0px 4px fadeout(@borderColor, 20%));
		}
	}

	.picon-listitems-heading {
		margin-top: 0px;
		font-size: @baseFontSize * 1.5;
	}
}