/*
	Náhledy fotek a obrázky obecně
*/

// Samostatný obrázek
img.picon-thumb {
	.BorderRadius(@boxRadius);
	.BoxShadow(0px 0px 4px fadeout(@borderColor, 20%));
}

a.picon-thumbs-item {
	.DefaultThumbnail();
	vertical-align: middle;
}

// Skupina náhledů s neurčeným rozměrem
.picon-thumbs {
	.Clear();

	.picon-thumbs-item {
		display: block;
		float: left;
		width: @mixMaxWidth + 10 + 2; // přičteme levý a pravý padding a rámeček
		height: @mixMaxHeight + 10 + 2;
		line-height: @mixMaxHeight + 10 + 2;
		margin: 0 1em 1em 1em;
		text-align: center;

		a {
			.DefaultThumbnail();
			.QuirkWidth();
			max-width: @mixMaxWidth + 10 + 2;
			max-height: @mixMaxHeight + 10 + 2;
			vertical-align: middle;

			img {
				.QuirkWidth();
				max-height: @mixMaxHeight;
			}
		}
	}
}

// Generuje styly k defaultnímu náhledu obrázku v odkazu
.DefaultThumbnail() {
	.BorderRadius(2px);
	.BoxShadow(0px 0px 4px fadeout(@borderColor, 20%));
	display: inline-block;
	padding: 5px;
	border: 1px solid @borderColor;

	img {
		.CenterBlock();
		max-width: 100%;
		max-height: 100%;
	}

	&:hover {
		.BoxShadow(0px 0px 6px @borderColor);
		border-color: darken(@borderColor, 20%);
	}
}

// Skupina náhledů s pevně daným poměrem
.GenerateStaticThumbs(@thumbWidth, @thumbHeight) {
	margin: 0px 0px 0px -1.5em;

	.picon-thumbs-item {
		width: @thumbWidth;
		height: @thumbHeight;
		line-height: @thumbHeight;
		margin: 0 1em 1em 1em;

		img {
			max-height: @thumbHeight;
			vertical-align: middle;
		}
	}
}

.picon-thumbs-normal { .GenerateStaticThumbs(@normalMaxWidth, round((@normalMaxWidth /  4) * 3)); } // 4:3
.picon-thumbs-wide   { .GenerateStaticThumbs(@wideMaxWidth,   round((@wideMaxWidth   / 16) * 9)); } // 16:9