/*
	Ty nejzákladnější styly, všeobecně používané téměř vždy a všude, plus některá základní nastavení stylů tagů.
*/
.fonts-loaded {
	html&,
	button,
	input,
	select,
	textarea,
	html& .pure-g [class *= "pure-u"] {
		font-family: @baseFont;
	}
}

// Výchozí velikosti a barvy
html {
	color: @colorFont;
	font-size: @baseFontSize - 2px;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
	        font-smoothing: antialiased;

	@media @mediaMd {
		font-size: @baseFontSize;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 1em 0em 0.7em 0em;
}

h1, .h1 { font-size: 1.8em; }
h2, .h2 { font-size: 1.7em; }
h3, .h3 { font-size: 1.6em; }
h4, .h4 { font-size: 1.4em; }
h5, .h5 { font-size: 1.2em; }
h6, .h6 { font-size: 1em;   }

@media @mediaSm {
	h1, .h1 { font-size: 2em;   }
	h2, .h2 { font-size: 1.8em; }
	h3, .h3 { font-size: 1.6em; }
	h4, .h4 { font-size: 1.4em; }
	h5, .h5 { font-size: 1.2em; }
}

@media @mediaMd {
	h1, .h1 { font-size: 3em;   }
	h2, .h2 { font-size: 2.3em; }
	h3, .h3 { font-size: 1.9em; }
	h4, .h4 { font-size: 1.6em; }
	h5, .h5 { font-size: 1.3em; }
}

p, blockquote {
	margin: 0.5em 0em 1em 0em;
	line-height: 1.5em;
}

ul, ol {
	margin: 0px 0px 1em 2em;
	padding: 0px;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0px;
}

li {
	line-height: 1.5em;
	padding: 0.3em 0.2em;
}

table {
	margin-bottom: 1em;
}

img {
	// Ochrana před přetékáním obrázků u responsive designu
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	// Vyšší kvalita vykreslení obrázků
	-ms-interpolation-mode: bicubic;
	image-rendering: auto;
}

hr {
	margin: 1em 0px;
	border: 1px solid #ccc;
	border-top: none;
}

a {
	color: @colorLink;

	&:hover {
		color: @colorHover;
		text-decoration: none;
	}
}

// Google Maps
#map_canvas img {
	max-width: none;
}