/*
	Zdroj pro sprity je sprite-src.less. Ten nikdy neměňte, generuje se automaticky přes Grunt! Příkaz: grunt sprite

	Použití:
	<i class="sprite sprite--icon"></i>
*/
@spritePrefix: sprite;

// Zkrácená verze funkce pro generování jednotlivých spritů
.SpritesGenerateAll(@sprites, @i: 1) when (@i <= length(@sprites)) {
	@sprite: extract(@sprites, @i);
	@sprite-name: e(extract(@sprite, 10));

	.@{sprite-name} {
		width: extract(@sprite, 5);
		height: extract(@sprite, 6);
		background-position: extract(@sprite, 3) extract(@sprite, 4);
	}

	.SpritesGenerateAll(@sprites, @i + 1);
}

// Pomocná funkce pokud chcete použít sprite jako pozadí elementu
.SpriteBg() {
	background-image: url(@spritesheetImage);
	background-repeat: no-repeat;
	background-size: @spritesheetWidth @spritesheetHeight;

	@media @mediaRetina {
		background-image: url(@retinaSpritesheetImage);
	}
}


/* Tady to dáme všechno dohromady a vygenerujeme */
.@{spritePrefix} {
	display: inline-block;
	background-image: url(@spritesheetImage);
	background-repeat: no-repeat;
	background-size: @spritesheetWidth @spritesheetHeight;
	vertical-align: middle;
}

.SpritesGenerateAll(@spritesheetSprites);

@media @mediaRetina {
	.@{spritePrefix} {
		background-image: url(@retinaSpritesheetImage);
	}
}