<div class="page-width">
	<h1>{{ meta.title }}</h1>
	{% for article in articles %}
		<div class="post">
			<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
			<p class="meta">{{ article.date }}</p>
			<p class="perex">{{ article.perex }}</p>
		</div>
	{% endfor %}
</div>