<div class="page-width">
	<h1>{{ meta.title }}</h1>

	<form action="" id="jq_contactForm" class="pure-form pure-form-aligned">
		<div class="pure-control-group">
			<label for="jq_name">Jméno:</label>
			<input id="jq_name" name="name" type="text">
		</div>
		<div class="pure-control-group">
			<label for="jq_contact">E-mail nebo telefon:</label>
			<input id="jq_contact" name="contact" type="text">
		</div>
		<div class="pure-control-group">
			<label for="jq_message">Zpráva:</label>
			<textarea id="jq_message" name="message" cols="60" rows="6"></textarea>
		</div>
		<button type="submit">Odeslat</button>
	</form>
</div>